# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://icunicnvkchaumoynxhx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljdW5pY252a2NoYXVtb3lueGh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyMTY1MDAsImV4cCI6MjA5Mzc5MjUwMH0.4Yn_y5HKdtAvHnvhKNjTy2dwuwPZOe-9OxUM16I4zCc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljdW5pY252a2NoYXVtb3lueGh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODIxNjUwMCwiZXhwIjoyMDkzNzkyNTAwfQ.L7f8QPcUcqzLFl2TQyBgdqe_OX-ssYfQ9-bBN0hhdwg

NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Ug60735Kg3W7TlLV7MhqSw_-lKzgB16
# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=8298a6fa0968d9e448887b0b1e31bad76d4e84cc249faabe7c022b99b3e37c8e
# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_DOMAIN=yoursaas.com
